* {
    margin: 0;
    justify-content: center;
}

body {
    display: flex;
    flex-wrap: wrap;
    background-color: #fcc93c;
    background-image: url("../images/space.jpg");
    background-size:100%;
    /* background-color: rgb(59, 57, 57); */
}

#filmList {
    display: flex;
    flex-wrap: wrap;
}

figure {
    margin: 1em;
    border: solid 1px grey;
}

figcaption {
    text-align: center;
    background-color: rgb(59, 57, 57);
    padding: 1%;
    color: #fff;
}